<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout disableAnsi="false" pattern=
                "%style{%d{HH:mm:ss.SSS}}{bright,black} %highlight{%-8level}{
                    FATAL=bright red,
                    ERROR=red,
                    WARN=yellow,
                    INFO=blue,
                    DEBUG=cyan,
                    TRACE=white
                } %style{%-20logger{20}}{magenta} %msg%n"
            />
        </Console>
    </Appenders>

    <Loggers>
        <Root level="debug">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>

</Configuration>